.banner {
    width: 100%;
    min-height: 300px;
    background-image: url(/public/img/01_Banner_V01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  } 


#module {
  font-size: 1rem;
  line-height: 1.5;
}


#module #collapseExample.collapse:not(.show) {
  display: block;
  height: 3rem;
  overflow: hidden;
}

#module #collapseExample.collapsing {
  height: 3rem;
}

#module a.collapsed::after {
  content: '+ zeige mehr';
}

#module a:not(.collapsed)::after {
  content: '- zeige weniger';
}

